@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/assets/fondo_pantalla_completal.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
    opacity: 1;
}

.logo-container a:hover {
    color: #4cc45c;
}

.logo {
    max-width: 100px;
    height: auto;
    margin-right: 10px; 
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
    opacity: 1;
}

.nav-links a:hover {
    color: #4cc45c;
}

.characters-container {
    text-align: center;
    margin: 20px;
    margin-bottom: 50px; 
}

.characters-container h1 {
    margin-bottom: 25px;
    color: hsl(0, 0%, 6%);
}

.characters-container h1:hover {
    color: hsl(120, 47%, 96%);
    transition: color 0.5s ease;
}

label.numeroLocalizacion {
    margin-bottom: 10px;
    color: hsl(0, 0%, 6%);
    font-size: 25px;
}

label.numeroLocalizacion:hover {
    color: hsl(120, 47%, 96%);
    transition: color 0.5s ease;
}

input[type="number"]#numeroLocalizacion {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #4cc45c;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

input[type="button"]#numeroLocalizacionBtn {
    padding: 10px;
    background-color: grey;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    transition: background-color 0.5s ease;
}

input[type="button"]#numeroLocalizacionBtn:hover {
    background-color: #1ed437; 
}

.mostrar {
    align-items: center;
    background-color: rgb(41, 219, 64, 0.6);
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 15px;
}

.mostrar h3 {
    font-size: 20px;
    color: hsl(15, 15, 15);
}

.mostrar h3:hover {
    color: hsl(120, 47%, 96%);
    transition: color 0.5s ease;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(0, 0, 0,0.7);
    color: rgb(255, 255, 255);
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #4cc45c;
}

footer p:hover {
    color: #4cc45c;
    transition: color 0.3s ease;
}

@media only screen and (max-width: 768px) {
    body {
        background-size: 1000px;
        background-position: 0;
        background-image: url(/assets/fondo_pantalla_movil.jpg);
    }

    nav {
        flex-direction: column;
        text-align: center;
    }

    .logo-container {
        flex-direction: column;
        gap: 10px;
        text-align: center;
        margin-bottom: 5px;
    }

    .logo-container a {
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        margin-top: 5px;
    }

    .nav-links a {
        margin-left: 0;
    }

    .characters-container {
        margin: 10px; 
    }

    .mostrar {
        position: relative;
        margin-top: 80px;
        margin-bottom: 200px;
    }

    label.numeroLocalizacion,
    input[type="number"]#numeroLocalizacion,
    input[type="button"]#numeroLocalizacionBtn {
        width: 100%;
        margin: 10px 0;
    }

    footer {
        position: relative;
        margin-top: 100px;
    }

    footer a{
        display: block;
        flex-direction: column;
    }
}